<div class="container">
  <app-cockpit 
  (srvCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- Here [element] is made public and exposed to the other components using @Input() so that any component implementing the selector can use it 
      [srvElement] is now an alias to [element] check server-element.component.ts
      -->
      <app-server-element 
      *ngFor="let serverElement of serverElements" 
      [srvElement]='serverElement'></app-server-element>
    </div>
  </div>
</div>