.container {
  margin-top: 30px;
}

/* ng-invalid ,ng-touched are the class added by angular with respect to the NgForm attribute changes
For example: if a input format is invalid, ng-invalid is added as the class to the input
*/

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 0 0 1em 0 red;
}
